notice-strip {
    position: absolute;
    inset: auto auto calc(100% + 1rem) 5%;
    max-width: 30ch;
    padding: 0.5rem 5%;
    background-color: hsl(var(--dark) / 75%);
    backdrop-filter: blur(0.2em);
    border-radius: 1em 1em 1em 0;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    z-index: -1;
    translate: -10% 0;
    transition-property: opacity, translate, color;
    transition-duration: 300ms;
    &[active] {
        display: block;
        translate: 0 0;
        opacity: 1;
    }
    &[invalid] {
        color: red;
    }
}
