%clay {
    position: relative;
    border: none;
    border-radius: 0.5em;
    transition-property: filter, translate;
    transition-duration: 300ms;
    &::before {
        position: absolute;
        content: "";
        inset: 0;
        pointer-events: none;
        opacity: 0.5;
        box-shadow: inset 0 -0.2em 0.4em 0.2em hsl(var(--dark)), 0 0.2em 0.4em 0em hsl(var(--dark));
        transition: 300ms;
    }
}
%clay-hover {
    @extend %clay;
    &:where(:hover, :focus-visible):where(:not(:disabled)) {
        translate: 0 -1px;
        filter: saturate(1.2);
        &::before {
            opacity: 0.6;
        }
    }
    &:active:where(:not(:disabled)) {
        translate: 0 1px;
        transition-duration: 100ms;
        &::before {
            opacity: 0.35;
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.col-span {
    grid-column: 1 / -1;
}

.flex {
    display: flex;
    gap: 1em;
    align-items: center;
}
