@use "reset";
@use "defaults";
@use "variables";
@use "utilities";
@use "notice-strip";

html {
    font-family: sans-serif;
    background-image: radial-gradient(#222, hsl(var(--dark)));
    background-attachment: fixed;
    color: hsl(var(--light));
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(hsl(var(--light)), transparent);
    border-radius: 20px;
}

header {
    padding: 0.8rem 5%;
    text-align: center;
    background-color: hsl(var(--dark));
    box-shadow: 0 0.5em 0.5em 0em hsl(var(--dark));
    z-index: 5;
}

main {
    padding: var(--spacer) 5%;
    flex-shrink: 1;
    overflow-y: auto;
}

footer {
    position: relative;
    padding: 0.8rem 5%;
    background-color: hsl(var(--dark));
    z-index: 5000;
    box-shadow: 0 -0.5em 0.5em 0em hsl(var(--dark));
}

form {
    max-width: 100ch;
    width: 100%;
    margin-inline: auto;
}

fieldset {
    display: grid;
    gap: 1.5rem;
    border: 2px solid #555;
    border-radius: 1em;
    backdrop-filter: blur(2rem);
    padding: 1.5rem 1em 3rem;
    fieldset {
        border-inline: none;
        border-bottom: none;
        padding-bottom: 0;
    }
    @media (max-width: 639px) {
        fieldset {
            padding-inline: 0;
        }
    }
    @media (min-width: 640px) {
        grid-template-columns: 1fr 1fr;
    }
}

[data-option-name],
[data-auth-token] {
    width: auto;
}
